@model IEnumerable<Genres>
@{
    Layout = "_Layout";
}
@if (Model != null)
{

    <div class="row mb-7 mt-7">
        @foreach (var genre in Model)
        {
            <div class="col-md-4 mt-4">
                <a href="javascript:;">
                    <div class="card card-background move-on-hover">
                        <div class="full-background" style="background-image: url('@Url.Content($"~/img/genres/{genre.ImageUrl}.png")')">
                            <div class="card-body pt-12">
                                <h4 class="text-white text-center">@genre.FullName</h4>
                                <a asp-action="GetGames" asp-controller="GameGallery" asp-route-id="@genre.GenreId" class="custom-btn btn-12 button"><span>Click To See @genre.GameGenres.Count() Games</span><span>See Games</span></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="row mt-7 mb-7"></div>
}
else
{
    <p class="lead text-center">There are no game genres available, check back later.</p>
}

