@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
  --color-primary: #214fe0;
  --color-dark: #1d1f20;
  --color-light: #f4f4f4;
  --color-shade: #bbb;
  
  --badge-size: 250px;
  
  --lock-color: #fff;
  --lock-width: 30px;
  --lock-stroke: 2.5px;
  
}

.spacer {
    margin: 100px 0 100px 0 !important;
}

body > header > nav > div > div > div > ul > li > ul::before {
    display: none;
}
body > header > nav > div > div > div > ul > li > ul {
    width: 290px;
    display: block;
}
    body > header > nav > div > div > div > ul > li:nth-child(2) > ul > form > li,
    body > header > nav > div > div > div > ul > li > ul > li {
        margin-right: 17px;
    }


    body,
    .container,
    nav {
        background-color: #181828;
    }
.dark-modal > .modal-body {
    width: 100%;
    height: auto;
}
button.btn-close > span {
    color: red;
    font-size: 30px;
    position: relative;
    bottom: 100%;
}
.card.card-background.move-on-hover.card-review.game {
    width: 100% !important;
    height: auto !important;
}
    .dark-modal > .modal-footer,
    .dark-modal > .modal-header,
    .dark-modal > .modal-body,
    .card-dark {
        background-color: rgba(22,22,22,1) !important;
        color: #fff;
    }
body > div.container-fluid > main > div:nth-child(2) > div > button {
    width: 50vw !important;
    position: relative !important;
}
body > div.container-fluid > main > div:nth-child(2) > div > form:after {
    display: none;
}
body > div.container-fluid > main > div:nth-child(2) > div > form:after,
body > div.container-fluid > main > div:nth-child(2) > div > form:before {
    background-color: rgb(33,37,41) !important;
}
body > div.container-fluid > main > div:nth-child(2) > div > form {
    width: 50vw !important;
    display: block !important;
    position: absolute;
    top: 0;
    left: 10% !important;
    text-align: center;
    background-color: rgb(33,37,41) !important;
    color: white;
    padding: 30px;
}

/* {
    display: none;
    position: absolute;
    background-color: rgb(33,37,41) !important;
    min-width: 50vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    top: 10% !important;
    left: 24% !important;
    transform: translateX(-50%);
}
*/
.modal-content {
    background-color: transparent !important; /* Adjust the color and opacity */
}
.modal-body {
    background-color: transparent !important;
    color: #fff; /* Optional: Adjust text color for visibility */
}

#modal-form > div > div > div > div > div.card-body > form > label:nth-child(n) {
    color: white;
}
.dropdown-menu.drop-form form input:focus {
    border: 2px solid white;
    background-color: rgb(33,37,41);
    color: white;
}
body > div.container-fluid > main > div.row > div > div > form > div > div.col-12.col-md-8 > div > label,
body > div.container-fluid > main > div.row > div > div > form > div > div.col-12.col-md-4 > div > label {
    color: white;
}
body > div.container-fluid > main > div.row > div > div > form {
    display: block !important;
    text-align: center;
    margin: 0 auto !important;
}
#Review,
#StarRating {
    background-color: rgb(33,37,41);
    color: white;
}

a {
    text-decoration: none;
}
.black-card {
    background: linear-gradient(90deg, rgba(55,55,55,0.75), rgba(0,0,0,0.8));
    background: -webkit-linear-gradient(90deg, rgba(55,55,55,0.75), rgba(0,0,0,0.8));
    
}
.black-card a {
    display: block;
    text-align:center;
}
.black-card h4 {
    font-size: xx-large;
}
    .black-card h4,
    .black-card p,
    .black-card a {
        color: white;
        font-family: "Overpass", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        text-align: center;
    }
    .edit-form {
        width: 100px;
        float: left;
       
    }
    .delete-form {
        width: 100px;
        float: right;
    }
    .edit-form > .custom-btn,
    .delete-form > .custom-btn {
        width: 90% !important;
        background-color: rgba(22,22,22,0.7) !important;
        color: white !important;
    }
.card.card-background.move-on-hover.card-review {
    width: 20vw !important;
    height: auto;
    margin: 15px 0 15px 0;
}
.card-img-top {
    height: 250px;
}
.alert-outline-danger {
    display: none;
}

.alert-outline-danger {
    color: tomato;
    background-color: transparent;
    border-top: 1px solid tomato;
    border-bottom: 1px solid tomato;
    border-left: 1px solid tomato;
    border-right: 1px solid tomato;
    padding: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

/*----  Main Style  ----*/
#cards_landscape_wrap-2 {
    text-align: center;
    background-color: #181828;
}

    #cards_landscape_wrap-2 .container {
        padding-top: 80px;
        padding-bottom: 100px;
    }

    #cards_landscape_wrap-2 a {
        text-decoration: none;
        outline: none;
    }

    #cards_landscape_wrap-2 .card-flyer {
        border-radius: 5px;
    }

        #cards_landscape_wrap-2 .card-flyer .image-box {
            background: #ffffff;
            overflow: hidden;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
            border-radius: 5px;
        }

            #cards_landscape_wrap-2 .card-flyer .image-box img {
                -webkit-transition: all .9s ease;
                -moz-transition: all .9s ease;
                -o-transition: all .9s ease;
                -ms-transition: all .9s ease;
                width: 100%;
                height: 40vh;
            }

        #cards_landscape_wrap-2 .card-flyer:hover .image-box img {
            opacity: 0.7;
            -webkit-transform: scale(1.15);
            -moz-transform: scale(1.15);
            -ms-transform: scale(1.15);
            -o-transform: scale(1.15);
            transform: scale(1.15);
        }

        #cards_landscape_wrap-2 .card-flyer .text-box {
            text-align: center;
        }

            #cards_landscape_wrap-2 .card-flyer .text-box .text-container {
                padding: 30px 18px;
            }

    #cards_landscape_wrap-2 .card-flyer {
        background: #FFFFFF;
        margin-top: 50px;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
    }

        #cards_landscape_wrap-2 .card-flyer:hover {
            background: #fff;
            box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -ms-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
            margin-top: 50px;
        }

        #cards_landscape_wrap-2 .card-flyer .text-box p {
            margin-top: 10px;
            margin-bottom: 0px;
            padding-bottom: 0px;
            font-size: 14px;
            letter-spacing: 1px;
            color: #000000;
        }

        #cards_landscape_wrap-2 .card-flyer .text-box h6 {
            margin-top: 0px;
            margin-bottom: 4px;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Roboto Black', sans-serif;
            letter-spacing: 1px;
            color: #00acc1;
        }

        .custom-btn {
    width: 90% !important;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin: 5% auto;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

/* 3 */
.card.card-dark .card-body form .form-group input {
    background-color: #181828;
    color: white;
}
.card.card-dark .card-body form .form-group input::placeholder {
    color: white;
}
    .card.card-dark .card-body form .form-group input .active,
    .card.card-dark .card-body form .form-group input:focus {
        border: 2px solid dodgerblue;
    }
#LoginForm input.form-control {
    background-color: #181828 !important;
    color: white;
}

/*btn-dark-red*/

.btn-dark-red {
    background: linear-gradient(0deg, rgb(140,0,0) 0%, rgb(240,0,0) 100%);
    line-height: 45px;
    padding: 0;
    border: none;
    width: 100% !important;
}

    .btn-dark-red span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

    .btn-dark-red:before,
    .btn-dark-red:after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        background: rgb(140,0,0);
        transition: all 0.3s ease;
    }

    .btn-dark-red:before {
        height: 0%;
        width: 2px;
    }

    .btn-dark-red:after {
        width: 0%;
        height: 2px;
    }

    .btn-dark-red:hover {
        color: rgb(140,0,0);
        background: transparent;
    }

        .btn-dark-red:hover:before {
            height: 100%;
        }

        .btn-dark-red:hover:after {
            width: 100%;
        }

    .btn-dark-red span:before,
    .btn-dark-red span:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: rgb(140,0,0);
        transition: all 0.3s ease;
    }

    .btn-dark-red span:before {
        width: 2px;
        height: 0%;
    }

    .btn-dark-red span:after {
        height: 2px;
        width: 0%;
    }

    .btn-dark-red span:hover:before {
        height: 100%;
    }

    .btn-dark-red span:hover:after {
        width: 100%;
    }

/*End btn-dark-red*/

/*btn-7*/

/* 7 */
.btn-7 {
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 45px;
    padding: 0;
    border: none;
    width: 100% !important;
}

    .btn-7 span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

    .btn-7:before,
    .btn-7:after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        background: rgba(251,75,2,1);
        transition: all 0.3s ease;
    }

    .btn-7:before {
        height: 0%;
        width: 2px;
    }

    .btn-7:after {
        width: 0%;
        height: 2px;
    }

    .btn-7:hover {
        color: rgba(251,75,2,1);
        background: transparent;
    }

        .btn-7:hover:before {
            height: 100%;
        }

        .btn-7:hover:after {
            width: 100%;
        }

    .btn-7 span:before,
    .btn-7 span:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: rgba(251,75,2,1);
        transition: all 0.3s ease;
    }

    .btn-7 span:before {
        width: 2px;
        height: 0%;
    }

    .btn-7 span:after {
        height: 2px;
        width: 0%;
    }

    .btn-7 span:hover:before {
        height: 100%;
    }

    .btn-7 span:hover:after {
        width: 100%;
    }


/*End Of btn-7*/
/*btn-12*/
.btn-12 {
    position: relative;
    right: 20px;
    bottom: 20px;
    border: none;
    box-shadow: none;
    width: 80%;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
}

    .btn-12 span {
        background: rgb(0,172,238);
        background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
        display: block;
        position: absolute;
        width: 90%;
        height: 40px;
        box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        border-radius: 5px;
        margin: 0;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

        .btn-12 span:nth-child(1) {
            box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
            -webkit-transform: rotateX(90deg);
            -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
            -webkit-transform-origin: 50% 50% -20px;
            -moz-transform-origin: 50% 50% -20px;
            transform-origin: 50% 50% -20px;
        }

        .btn-12 span:nth-child(2) {
            -webkit-transform: rotateX(0deg);
            -moz-transform: rotateX(0deg);
            transform: rotateX(0deg);
            -webkit-transform-origin: 50% 50% -20px;
            -moz-transform-origin: 50% 50% -20px;
            transform-origin: 50% 50% -20px;
        }

    .btn-12:hover span:nth-child(1) {
        box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }

    .btn-12:hover span:nth-child(2) {
        box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        color: transparent;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
    }


    .btn-3 {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}
    .btn-3 span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
        .btn-3:before,
        .btn-3:after {
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            background: rgba(2,126,251,1);
            transition: all 0.3s ease;
        }
    .btn-3:before {
        height: 0%;
        width: 2px;
    }
    .btn-3:after {
        width: 0%;
        height: 2px;
    }
    .btn-3:hover {
        background: transparent;
        box-shadow: none;
    }

        .btn-3:hover:before {
            height: 100%;
        }

        .btn-3:hover:after {
            width: 100%;
        }

        .btn-3 span:hover {
            color: rgba(2,126,251,1);
        }

    .btn-3 span:before,
    .btn-3 span:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        background: rgba(2,126,251,1);
        transition: all 0.3s ease;
    }

    .btn-3 span:before {
        width: 2px;
        height: 0%;
    }

    .btn-3 span:after {
        width: 0%;
        height: 2px;
    }

    .btn-3 span:hover:before {
        height: 100%;
    }

    .btn-3 span:hover:after {
        width: 100%;
    }

.button {
    margin: 20px;
}
.overlay {
    background-color: rgba(20, 20, 20, 0.4); /* Black with 50% opacity */
    color: white; /* Text color */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center; /* Center text */
    margin-top: -17px;
    margin-left: -20px;
    padding: 30px;
    clear: both;
}
.container.review-container {
    height: 95vh !important;
    position: relative;
    bottom: 100px;
}
    .review-container.scroll-container {
        height: auto; /* Set the height of your container */
        overflow-y: scroll; /* Enable vertical scrolling */
        scrollbar-width: none; /* Hide scrollbar in Firefox */
    }
    /*.container.review-container > .scroll-container::-webkit-scrollbar {
        display: none;*/ /* Hide scrollbar in WebKit browsers */
    /*}*/
.fas.fa-star,
.far.fa-star {
    color: gold;
}
.product-image.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgba(100,100,250,1) 0%, rgba(10,10,250,0.8) 100%);
    border-radius: 20px 20px 0 0;
    padding: 55px 0;
    width: 100%;
    margin: 10% auto;
    filter: drop-shadow(-6px 40px 23px rgba(0, 0, 0, 0.5));
}
.product-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgba(100,100,250,1) 0%, rgba(10,10,250,0.8) 100%);
    border-radius: 20px 20px 0 0;
    padding: 55px 0;
    width: 100%;
    margin: 10% auto;
    filter: drop-shadow(-6px 40px 23px rgba(0, 0, 0, 0.5));
}

.product-pic {
    max-width: 180px;
    position: relative;
    left: 0;
    margin: 40px 0;
    filter: drop-shadow(-6px 40px 23px rgba(0, 0, 0, 0.5));
}

.product-details {
    padding: 40px;
    margin: 10% auto;
    background-color: white;
    border-radius: 0 0 20px 20px;
    filter: drop-shadow(-6px 40px 23px rgba(0, 0, 0, 0.5));
}

    .product-details .title {
        text-transform: uppercase;
        margin: 0;
    }

    .product-details .colorCat {
        text-transform: uppercase;
        font-style: italic;
        color: #bbb;
        font-weight: 700;
        font-size: 14px;

    }

    .product-details .price {
        font-weight: 700;
        margin-top: 5px;
        font-size: 18px;
    }

        .product-details .price .current {
            color: #fe6168;
            margin-left: 6px;
        }

    .product-details .before {
        text-decoration: line-through;
    }

    .product-details header {
        margin-bottom: 50px;
        position: relative;
    }

    .product-details article > h5 {
        margin: 0;
    }

    .product-details article > p {
        color: #bbb;
        margin: 0.5em 0;
        font-size: 14px;
        line-height: 1.6;
    }

    .product-details .controls {
        margin: 3em 0;
    }

        .product-details .controls > div {
            flex: 1;
        }

        .product-details .controls .option {
            margin-top: 12px;
            display: inline-block;
            position: relative;
        }

            .product-details .controls .option:hover {
                color: #444444;
            }

            .product-details .controls .option::before {
                content: "";
                position: absolute;
                border-width: 2px 2px 0 0;
                border-style: solid;
                top: 0;
                bottom: 0;
                height: 5px;
                width: 5px;
                right: -18px;
                margin: auto;
                transform: rotate(135deg);
            }

        .product-details .controls > div + div {
            margin-top: 20px;
            flex: none;
        }

        .product-details .controls ul {
            display: flex;
            margin: 15px 5px;
        }

    .product-details .color li + li {
        margin-left: 15px;
    }

    .product-details .colors {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: block;
    }

    .product-details .color-bdot1 {
        background-color: #59e8c8;
    }

        .product-details .color-bdot1:hover, .product-details .color-bdot1.active {
            box-shadow: 0 0 0 3px white, 0 0 0 5px #59e8c8;
        }

    .product-details .color-bdot2 {
        background-color: #ffee71;
    }

        .product-details .color-bdot2:hover, .product-details .color-bdot2.active {
            box-shadow: 0 0 0 3px white, 0 0 0 5px #ffee71;
        }

    .product-details .color-bdot3 {
        background-color: #6654af;
    }

        .product-details .color-bdot3:hover, .product-details .color-bdot3.active {
            box-shadow: 0 0 0 3px white, 0 0 0 5px #6654af;
        }

    .product-details .color-bdot4 {
        background-color: #343434;
    }

        .product-details .color-bdot4:hover, .product-details .color-bdot4.active {
            box-shadow: 0 0 0 3px white, 0 0 0 5px #343434;
        }

    .product-details .color-bdot5 {
        background-color: #dfdfdf;
    }

        .product-details .color-bdot5:hover, .product-details .color-bdot5.active {
            box-shadow: 0 0 0 3px white, 0 0 0 5px #dfdfdf;
        }

    .product-details .rate {
        position: static;
        margin-top: 10px;
    }

        .product-details .rate a {
            font-size: 18px;
            color: #bbb;
        }

            .product-details .rate a.active, .product-details .rate a:hover {
                color: #fe6067;
            }


/*View Card Styles*/

.card-wrap {
    margin: 10px;
    transform: perspective(800px);
    transform-style: preserve-3d;
    cursor: pointer;
}

    .card-wrap:hover .card-info {
        transform: translateY(0);
    }

        .card-wrap:hover .card-info p {
            opacity: 1;
        }

        .card-wrap:hover .card-info, .card-wrap:hover .card-info p {
            transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        }

            .card-wrap:hover .card-info:after {
                transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
                opacity: 1;
                transform: translateY(0);
            }

    .card-wrap:hover .card-bg {
        transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
        opacity: 0.8;
    }

    .card-wrap:hover .card {
        transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
        box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
    }

.card {
    position: relative;
    flex: 0 0 240px;
    width: 25vw;
    height: 45vh;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
    opacity: 1;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #333 !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
}

.card-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(40%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

    .card-info p {
        opacity: 0;
        text-shadow: black 0 2px 3px;
        transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .card-info * {
        position: relative;
        z-index: 1;
    }

    .card-info:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
        background-blend-mode: overlay;
        opacity: 0;
        transform: translateY(100%);
        transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    .card-info h1 {
        font-size: 36px;
        text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
    }

/*End View Card Styles*/





.dots {
    display: flex;
    margin-top: 40px;
}

    .dots > a {
        background-color: #349a98;
        width: 10px;
        height: 10px;
        margin: 0 4px;
        border-radius: 50%;
    }

        .dots > a:hover, .dots > a.active {
            background-color: white;
        }

    .dots i {
        display: none;
    }

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .footer > button {
        display: flex;
        border: 0;
        padding: 15px 25px;
        align-items: center;
        border-radius: 7px;
        cursor: pointer;
        background: linear-gradient(to bottom, #ff886b 0%, #ff4164 100%);
        box-shadow: 0 10px 30px 0 rgba(255, 136, 107, 0.7);
        transition: 200ms;
    }

        .footer > button:hover {
            background: linear-gradient(to bottom, #ff4164 0%, #ff886b 100%);
        }

        .footer > button > img {
            width: 31px;
        }

        .footer > button > span {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
            margin-left: 10px;
            color: white;
        }

    .footer > a img {
        width: 24px;
        opacity: 0.8;
    }

    .footer > a:hover img {
        opacity: 1;
    }

@media (min-width: 37.5em) {
    .product-details .rate {
        position: absolute;
        top: 12px;
        right: 10px;
        margin-top: 0;
    }

    .product-details .controls > div.qty {
        width: 60px;
    }

    .product-details .controls > div + div {
        border-left: 2px solid rgba(187, 187, 187, 0.5);
        padding-left: 25px;
        padding-right: 25px;
        width: 100px;
        margin-top: 0;
    }

    .product-details .controls {
        display: flex;
    }
}

@media (min-width: 56.25em) {
    .container {
        display: flex;
        flex-direction: row;
        align-items: normal;
        margin: auto;
    }

    .product-image {
        border-radius: 20px 0 0 20px;
        max-width: 330px;
    }

    .product-pic {
        left: -40px;
        max-width: 330px;
    }

    .product-details {
        width: 100%;
        border-radius: 0 20px 20px 0;
    }
}

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input,
.dropdown-menu.drop-form li form input,
.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body > div.container-fluid > main > div:nth-child(n) > div:nth-child(n) > div > div > div > a:nth-child(n) > h4,
.card-body,
button,
.card-info h1,
.card-title,
.form-label,
.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.white {
    background-color: rgba(250,250,250,0.7);
    height: 3px;
    width: 100%;
}


@media (max-width: 800px) {
    .card {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}
